@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import 'vars';
@import 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
